In [1]:
import pandas as pd

In [13]:
data_d = pd.read_csv('datadata1.csv',encoding='cp949')
data_l = pd.read_excel('data1_long.xlsx')
data_s = pd.read_excel('data1_short.xlsx')

In [3]:
data_d=data_d[['기준일ID','시간대구분','행정동코드','총생활인구수']]
data_l=data_l[['기준일ID','시간대구분','행정동코드','총생활인구수']]
data_s=data_s[['기준일ID','시간대구분','행정동코드','총생활인구수']]

In [28]:
data_s = data_s.groupby('행정동코드').sum()

In [29]:
data_d = data_d.groupby('행정동코드').sum()

In [30]:
data_l = data_l.groupby('행정동코드').sum()

In [36]:
data_s.reset_index(inplace=True)
data_d.reset_index(inplace=True)
data_l.reset_index(inplace=True)

In [37]:
data_s

        행정동코드        기준일ID  시간대구분       총생활인구수
0    11110515  15044435904   8556  353572.6738
1    11110530  15044435904   8556  840408.8261
2    11110540  15044435904   8556  223171.4329
3    11110550  15044435904   8556  183416.2613
4    11110560  15044435904   8556   95895.1725
..        ...          ...    ...          ...
419  11740650  14559131232   8280   52067.5319
420  11740660  14559131232   8280   90864.7843
421  11740685  14559131232   8280  100225.4452
422  11740690  14559131232   8280    7729.9116
423  11740700  14559131232   8280   44230.1355

[424 rows x 4 columns]

In [32]:
hang = pd.read_csv('hang.csv',encoding='cp949')

In [33]:
hang

     H_DNG_CD DO_NM CT_NM H_DNG_NM
0    11110530    서울   종로구      사직동
1    11110540    서울   종로구      삼청동
2    11110550    서울   종로구      부암동
3    11110560    서울   종로구      평창동
4    11110570    서울   종로구      무악동
..        ...   ...   ...      ...
419  11740690    서울   강동구     둔촌1동
420  11740700    서울   강동구     둔촌2동
421  11740570    서울   강동구     암사1동
422  11740610    서울   강동구     천호2동
423  11740685    서울   강동구       길동

[424 rows x 4 columns]

In [50]:
df1 = pd.merge(hang,data_d, left_on = 'H_DNG_CD', right_on = '행정동코드')
df2 = pd.merge(hang,data_s, left_on = 'H_DNG_CD', right_on = '행정동코드')
df3 = pd.merge(hang,data_l, left_on = 'H_DNG_CD', right_on = '행정동코드')

In [55]:
df1 = df1[['CT_NM','H_DNG_NM','총생활인구수']]

In [56]:
df2 = df2[['CT_NM','H_DNG_NM','총생활인구수']]

In [57]:
df3 = df3[['CT_NM','H_DNG_NM','총생활인구수']]

In [59]:
df1.rename(columns={'총생활인구수':'dome_pop'},inplace=True)

C:\Users\User\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [60]:
df2.rename(columns={'총생활인구수':'short_pop'},inplace=True)

In [61]:
df3.rename(columns={'총생활인구수':'long_pop'},inplace=True)

In [67]:
df_total = pd.concat([df1,df2[['short_pop']]],axis=1)

In [69]:
df_total = pd.concat([df_total,df3[['long_pop']]],axis=1)

In [70]:
df_total

    CT_NM H_DNG_NM      dome_pop    short_pop     long_pop
0     종로구      사직동  1.932543e+07  840408.8261  590148.2572
1     종로구      삼청동  4.144586e+06  223171.4329  141471.1105
2     종로구      부암동  1.085919e+07  183416.2613  494544.4373
3     종로구      평창동  1.372030e+07   95895.1725  322906.8532
4     종로구      무악동  5.034156e+06   33373.2253   58867.5714
..    ...      ...           ...          ...          ...
419   강동구     둔촌1동  3.382011e+06    7729.9116   58667.9088
420   강동구     둔촌2동  2.004724e+07   44230.1355  298032.9624
421   강동구     암사1동  2.018389e+07   33425.4061  288350.1735
422   강동구     천호2동  3.250224e+07  132789.9751  994249.8856
423   강동구       길동  4.041904e+07  100225.4452  725069.7628

[424 rows x 5 columns]

In [72]:
df_total.to_csv('df_total2.csv',encoding='cp949')

In [1]:
import pandas as pd

In [3]:
aa= pd.read_csv('df_total2.csv',encoding='cp949')

In [5]:
aa.head()

    GU DONG      dome_pop    short_pop     long_pop
0  종로구  사직동  1.932543e+07  840408.8261  590148.2572
1  종로구  삼청동  4.144586e+06  223171.4329  141471.1105
2  종로구  부암동  1.085919e+07  183416.2613  494544.4373
3  종로구  평창동  1.372030e+07   95895.1725  322906.8532
4  종로구  무악동  5.034156e+06   33373.2253   58867.5714

In [6]:
aa['total'] = aa['dome_pop'] + aa['short_pop'] + aa['long_pop']

In [8]:
ff = aa[['GU','DONG','total']]

In [9]:
ff

      GU  DONG         total
0    종로구   사직동  2.075599e+07
1    종로구   삼청동  4.509229e+06
2    종로구   부암동  1.153715e+07
3    종로구   평창동  1.413910e+07
4    종로구   무악동  5.126397e+06
..   ...   ...           ...
419  강동구  둔촌1동  3.448409e+06
420  강동구  둔촌2동  2.038950e+07
421  강동구  암사1동  2.050567e+07
422  강동구  천호2동  3.362928e+07
423  강동구    길동  4.124433e+07

[424 rows x 3 columns]

In [16]:
ff.total.describe()

count    4.240000e+02
mean     1.894334e+07
std      9.878919e+06
min      2.724775e+06
25%      1.245184e+07
50%      1.681566e+07
75%      2.310202e+07
max      8.229709e+07
Name: total, dtype: float64