In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
path = "/content/drive/MyDrive/응통 분석 공모전/데이터/"

In [ ]:
# 행정동별 카페 수, 편의점 수가 담긴 데이터셋 불러오기기
cafe_conv = pd.read_csv(path+"cafe_conv.csv")
cafe_conv = cafe_conv.rename(columns={"GU":"자치구", "DONG":"행정동"})
cafe_conv

        행정동  자치구  num_of_cafe  num_of_conv
0      역삼1동  강남구        243.0        115.0
1       가산동  금천구        214.0         87.0
2      서초3동  서초구        169.0         63.0
3       신사동  관악구         30.0         16.0
4       신사동  강남구        129.0         39.0
..      ...  ...          ...          ...
421    창신2동  종로구          9.0          1.0
422     무악동  종로구          1.0          0.0
423    둔촌1동  강동구          0.0          0.0
424  면목3.8동  중랑구          0.0          0.0
425     상일동  강동구         32.0         15.0

[426 rows x 4 columns]

In [ ]:
# 원본 데이터셋 불러오기기
data = pd.read_csv(path+'DATA_1.csv')
data

,Unnamed: 0,Unnamed: 0.1,DONG,num_of_conv,num_of_cafe,num_of_bus,num_of_subway,GU,pop
0,0,0,역삼1동,115.0,238.0,44.0,7.0,강남구,8.229709e+07
1,1,1,가산동,87.0,209.0,105.0,3.0,금천구,4.646247e+07
2,2,2,서초3동,63.0,169.0,75.0,3.0,서초구,4.756993e+07
3,3,3,신사동,16.0,30.0,18.0,1.0,관악구,1.691995e+07
4,4,4,신사동,39.0,127.0,16.0,0.0,강남구,2.970676e+07
...,...,...,...,...,...,...,...,...,...
421,421,421,창신2동,1.0,8.0,2.0,0.0,종로구,8.197930e+06
422,422,422,무악동,0.0,2.0,3.0,0.0,종로구,5.126397e+06
423,423,423,둔촌1동,0.0,0.0,9.0,1.0,강동구,3.448409e+06
424,424,424,면목3.8동,0.0,0.0,0.0,0.0,중랑구,1.544041e+07
425,425,425,상일동,15.0,38.0,63.0,0.0,강동구,2.896202e+07

In [ ]:
del data["Unnamed: 0"]	
del data["Unnamed: 0.1"]
data = data.rename(columns={"GU":"자치구", "DONG":"행정동"})
data

,행정동,num_of_conv,num_of_cafe,num_of_bus,num_of_subway,자치구,pop
0,역삼1동,115.0,238.0,44.0,7.0,강남구,8.229709e+07
1,가산동,87.0,209.0,105.0,3.0,금천구,4.646247e+07
2,서초3동,63.0,169.0,75.0,3.0,서초구,4.756993e+07
3,신사동,16.0,30.0,18.0,1.0,관악구,1.691995e+07
4,신사동,39.0,127.0,16.0,0.0,강남구,2.970676e+07
...,...,...,...,...,...,...,...
421,창신2동,1.0,8.0,2.0,0.0,종로구,8.197930e+06
422,무악동,0.0,2.0,3.0,0.0,종로구,5.126397e+06
423,둔촌1동,0.0,0.0,9.0,1.0,강동구,3.448409e+06
424,면목3.8동,0.0,0.0,0.0,0.0,중랑구,1.544041e+07
425,상일동,15.0,38.0,63.0,0.0,강동구,2.896202e+07

In [ ]:
# 원본 데이터셋 내 카페 수, 편의점 수 col 제거하고 새 데이터셋과 concat 시키기기
del data["num_of_conv"]	
del data["num_of_cafe"]
data = pd.merge(data, cafe_conv, how='left', left_on=['자치구', '행정동'], right_on=['자치구', '행정동'])
data

,행정동,num_of_bus,num_of_subway,자치구,pop,num_of_cafe,num_of_conv
0,역삼1동,44.0,7.0,강남구,8.229709e+07,243.0,115.0
1,가산동,105.0,3.0,금천구,4.646247e+07,214.0,87.0
2,서초3동,75.0,3.0,서초구,4.756993e+07,169.0,63.0
3,신사동,18.0,1.0,관악구,1.691995e+07,30.0,16.0
4,신사동,16.0,0.0,강남구,2.970676e+07,129.0,39.0
...,...,...,...,...,...,...,...
421,창신2동,2.0,0.0,종로구,8.197930e+06,9.0,1.0
422,무악동,3.0,0.0,종로구,5.126397e+06,1.0,0.0
423,둔촌1동,9.0,1.0,강동구,3.448409e+06,0.0,0.0
424,면목3.8동,0.0,0.0,중랑구,1.544041e+07,0.0,0.0
425,상일동,63.0,0.0,강동구,2.896202e+07,32.0,15.0

In [ ]:
# 면목제3.8동에서 누락된 부분 채우고 면목3.8동 행 제거
data.loc[248, "자치구"] = "중랑구"
data.loc[248, "pop"] = 15440410.636
data.drop(424, axis=0, inplace=True)
data.drop(390, axis=0, inplace=True) # 항동 제거
data = data.reset_index(drop=True)
data

,행정동,num_of_bus,num_of_subway,자치구,pop,num_of_cafe,num_of_conv
0,역삼1동,44.0,7.0,강남구,8.229709e+07,243.0,115.0
1,가산동,105.0,3.0,금천구,4.646247e+07,214.0,87.0
2,서초3동,75.0,3.0,서초구,4.756993e+07,169.0,63.0
3,신사동,18.0,1.0,관악구,1.691995e+07,30.0,16.0
4,신사동,16.0,0.0,강남구,2.970676e+07,129.0,39.0
...,...,...,...,...,...,...,...
419,창신3동,6.0,1.0,종로구,3.761154e+06,7.0,1.0
420,창신2동,2.0,0.0,종로구,8.197930e+06,9.0,1.0
421,무악동,3.0,0.0,종로구,5.126397e+06,1.0,0.0
422,둔촌1동,9.0,1.0,강동구,3.448409e+06,0.0,0.0
423,상일동,63.0,0.0,강동구,2.896202e+07,32.0,15.0

In [ ]:
# 서울시 구별 쓰레기 수거 현황 데이터 불러오기
collect = pd.read_csv(path+'쓰레기수거+현황_20221118163558.csv', skiprows=[0])
collect

,시점,자치구별(1),자치구별(2),면적 (㎢),인구 (명),면적 (㎢).1,인구 (명).1,소계,소계.1,소계.2,소계.3,소계.4,매립,소각,재활용,기타
0,2020,합계,소계,605.23,9911088,605.23,9911088,100,52248.2,52248.2,100,52248.2,2299.6,2666.1,46503.7,778.7
1,2020,합계,종로구,23.91,158996,23.91,158996,100,953.9,953.9,100,953.9,32.1,96.4,823.3,2.1
2,2020,합계,중구,9.96,134635,9.96,134635,100,1553.7,1553.7,100,1553.7,35.8,136.6,1381.1,0.3
3,2020,합계,용산구,21.87,244645,21.87,244645,100,1052.6,1052.6,100,1052.6,39.2,82.4,930.5,0.5
4,2020,합계,성동구,16.86,300505,16.86,300505,100,2339.1,2339.1,100,2339.1,273.2,80.6,1851.1,134.2
5,2020,합계,광진구,17.06,360109,17.06,360109,100,1584.9,1584.9,100,1584.9,30.2,86.8,1467.0,0.9
6,2020,합계,동대문구,14.22,357014,14.22,357014,100,3237.0,3237.0,100,3237.0,26.0,92.3,3117.9,0.7
7,2020,합계,중랑구,18.50,399562,18.50,399562,100,1206.0,1206.0,100,1206.0,25.7,95.8,1084.2,0.3
8,2020,합계,성북구,24.58,447056,24.58,447056,100,1195.1,1195.1,100,1195.1,17.5,107.8,1069.0,0.9
9,2020,합계,강북구,23.60,311569,23.60,311569,100,838.3,838.3,100,838.3,10.2,90.7,735.3,2.0
10,2020,합계,도봉구,20.65,327361,20.65,327361,100,1290.8,1290.8,100,1290.8,41.7,96.8,1135.2,17.0
11,2020,합계,노원구,35.44,527032,35.44,527032,100,1108.3,1108.3,100,1108.3,88.5,113.0,904.2,2.6
12,2020,합계,은평구,29.71,484043,29.71,484043,100,2156.3,2156.3,100,2156.3,115.6,57.6,1983.0,0.3
13,2020,합계,서대문구,17.63,322952,17.63,322952,100,782.8,782.8,100,782.8,37.7,93.1,643.6,8.4
14,2020,합계,마포구,23.85,381858,23.85,381858,100,1645.7,1645.7,100,1645.7,58.2,118.7,1468.7,0.2
15,2020,합계,양천구,17.41,457781,17.41,457781,100,1251.5,1251.5,100,1251.5,77.7,95.0,1078.7,0.1
16,2020,합계,강서구,41.44,585901,41.44,585901,100,4928.8,4928.8,100,4928.8,630.9,243.5,3638.2,416.2
17,2020,합계,구로구,20.12,432488,20.12,432488,100,1278.5,1278.5,100,1278.5,79.2,117.5,1081.3,0.5
18,2020,합계,금천구,13.02,247835,13.02,247835,100,3794.8,3794.8,100,3794.8,135.5,19.1,3635.6,4.6
19,2020,합계,영등포구,24.55,407367,24.55,407367,100,2156.3,2156.3,100,2156.3,35.6,129.9,1981.7,9.1
20,2020,합계,동작구,16.35,401572,16.35,401572,100,1289.4,1289.4,100,1289.4,26.5,73.6,1186.0,3.3
21,2020,합계,관악구,29.57,509803,29.57,509803,100,1631.4,1631.4,100,1631.4,91.0,34.0,1506.2,0.2
22,2020,합계,서초구,46.98,429025,46.98,429025,100,2378.1,2378.1,100,2378.1,84.1,144.5,2147.1,2.3
23,2020,합계,강남구,39.50,544055,39.50,544055,100,5556.9,5556.9,100,5556.9,89.1,229.8,5096.1,141.9
24,2020,합계,송파구,33.87,673926,33.87,673926,100,4271.9,4271.9,100,4271.9,165.6,128.9,3949.1,28.3
25,2020,합계,강동구,24.59,463998,24.59,463998,100,2766.3,2766.3,100,2766.3,52.9,101.9,2609.7,1.0

In [ ]:
# 불필요한 행 제거 후 필요한 행만 선택하여 collect_concat에 저장 
collect.drop(0, axis=0, inplace=True)
collect_concat=collect[['자치구별(2)', '소계.1']]
collect_concat = collect_concat.rename(columns={"자치구별(2)":"자치구", "소계.1":"자치구별 배출량"})
collect_concat

     자치구  자치구별 배출량
0     소계   52248.2
1    종로구     953.9
2     중구    1553.7
3    용산구    1052.6
4    성동구    2339.1
5    광진구    1584.9
6   동대문구    3237.0
7    중랑구    1206.0
8    성북구    1195.1
9    강북구     838.3
10   도봉구    1290.8
11   노원구    1108.3
12   은평구    2156.3
13  서대문구     782.8
14   마포구    1645.7
15   양천구    1251.5
16   강서구    4928.8
17   구로구    1278.5
18   금천구    3794.8
19  영등포구    2156.3
20   동작구    1289.4
21   관악구    1631.4
22   서초구    2378.1
23   강남구    5556.9
24   송파구    4271.9
25   강동구    2766.3

In [ ]:
# 행정동별 데이터와 구별 전체 쓰레기 배출량 데이터 합치기 (자치구 기준)
data = pd.merge(data, collect_concat, how='left', left_on='자치구', right_on='자치구')
data

,행정동,num_of_bus,num_of_subway,자치구,pop,num_of_cafe,num_of_conv,자치구별 배출량
0,역삼1동,44.0,7.0,강남구,8.229709e+07,243.0,115.0,5556.9
1,가산동,105.0,3.0,금천구,4.646247e+07,214.0,87.0,3794.8
2,서초3동,75.0,3.0,서초구,4.756993e+07,169.0,63.0,2378.1
3,신사동,18.0,1.0,관악구,1.691995e+07,30.0,16.0,1631.4
4,신사동,16.0,0.0,강남구,2.970676e+07,129.0,39.0,5556.9
...,...,...,...,...,...,...,...,...
419,창신3동,6.0,1.0,종로구,3.761154e+06,7.0,1.0,953.9
420,창신2동,2.0,0.0,종로구,8.197930e+06,9.0,1.0,953.9
421,무악동,3.0,0.0,종로구,5.126397e+06,1.0,0.0,953.9
422,둔촌1동,9.0,1.0,강동구,3.448409e+06,0.0,0.0,2766.3
423,상일동,63.0,0.0,강동구,2.896202e+07,32.0,15.0,2766.3

In [ ]:
# 행정동별 생활인구 열을 이용하여 자치구별 생활인구로 집계계
GU_pop = data.groupby('자치구')['pop'].sum().to_frame()
GU_pop = GU_pop.rename(columns={"pop":"자치구별 생활인구"})
GU_pop

         자치구별 생활인구
자치구
강남구   6.190779e+08
강동구   3.740361e+08
강북구   2.140152e+08
강서구   4.066288e+08
관악구   3.591416e+08
광진구   2.836250e+08
구로구   3.082963e+08
금천구   1.727956e+08
노원구   3.687110e+08
도봉구   1.986671e+08
동대문구  2.790016e+08
동작구   2.931294e+08
마포구   3.595946e+08
서대문구  2.870834e+08
서초구   4.224326e+08
성동구   2.661092e+08
성북구   3.248045e+08
송파구   5.631646e+08
양천구   2.715823e+08
영등포구  3.829191e+08
용산구   2.316420e+08
은평구   3.183961e+08
종로구   2.341951e+08
중구    2.328735e+08
중랑구   2.600526e+08

In [ ]:
# 자치구별 생활인구 열 추가가
data = pd.merge(data, GU_pop, how='left', left_on='자치구', right_on='자치구')
data

,행정동,num_of_bus,num_of_subway,자치구,pop,num_of_cafe,num_of_conv,자치구별 배출량,자치구별 생활인구
0,역삼1동,44.0,7.0,강남구,8.229709e+07,243.0,115.0,5556.9,6.190779e+08
1,가산동,105.0,3.0,금천구,4.646247e+07,214.0,87.0,3794.8,1.727956e+08
2,서초3동,75.0,3.0,서초구,4.756993e+07,169.0,63.0,2378.1,4.224326e+08
3,신사동,18.0,1.0,관악구,1.691995e+07,30.0,16.0,1631.4,3.591416e+08
4,신사동,16.0,0.0,강남구,2.970676e+07,129.0,39.0,5556.9,6.190779e+08
...,...,...,...,...,...,...,...,...,...
419,창신3동,6.0,1.0,종로구,3.761154e+06,7.0,1.0,953.9,2.341951e+08
420,창신2동,2.0,0.0,종로구,8.197930e+06,9.0,1.0,953.9,2.341951e+08
421,무악동,3.0,0.0,종로구,5.126397e+06,1.0,0.0,953.9,2.341951e+08
422,둔촌1동,9.0,1.0,강동구,3.448409e+06,0.0,0.0,2766.3,3.740361e+08
423,상일동,63.0,0.0,강동구,2.896202e+07,32.0,15.0,2766.3,3.740361e+08

In [ ]:
data = data.rename(columns={"pop":"행정동별 생활인구"})
data

,행정동,num_of_bus,num_of_subway,자치구,행정동별 생활인구,num_of_cafe,num_of_conv,자치구별 배출량,자치구별 생활인구
0,역삼1동,44.0,7.0,강남구,8.229709e+07,243.0,115.0,5556.9,6.190779e+08
1,가산동,105.0,3.0,금천구,4.646247e+07,214.0,87.0,3794.8,1.727956e+08
2,서초3동,75.0,3.0,서초구,4.756993e+07,169.0,63.0,2378.1,4.224326e+08
3,신사동,18.0,1.0,관악구,1.691995e+07,30.0,16.0,1631.4,3.591416e+08
4,신사동,16.0,0.0,강남구,2.970676e+07,129.0,39.0,5556.9,6.190779e+08
...,...,...,...,...,...,...,...,...,...
419,창신3동,6.0,1.0,종로구,3.761154e+06,7.0,1.0,953.9,2.341951e+08
420,창신2동,2.0,0.0,종로구,8.197930e+06,9.0,1.0,953.9,2.341951e+08
421,무악동,3.0,0.0,종로구,5.126397e+06,1.0,0.0,953.9,2.341951e+08
422,둔촌1동,9.0,1.0,강동구,3.448409e+06,0.0,0.0,2766.3,3.740361e+08
423,상일동,63.0,0.0,강동구,2.896202e+07,32.0,15.0,2766.3,3.740361e+08

In [ ]:
# 구별 쓰레기 배출량을 행정동별 생활인구로 곱한 뒤 자치구별 생활인구로 나누어 새로운 파생변수수 생성
data["행정동별 배출량"] = (data["자치구별 배출량"]*data["행정동별 생활인구"]) / data["자치구별 생활인구"]
data

,행정동,num_of_bus,num_of_subway,자치구,행정동별 생활인구,num_of_cafe,num_of_conv,자치구별 배출량,자치구별 생활인구,행정동별 배출량
0,역삼1동,44.0,7.0,강남구,8.229709e+07,243.0,115.0,5556.9,6.190779e+08,738.706224
1,가산동,105.0,3.0,금천구,4.646247e+07,214.0,87.0,3794.8,1.727956e+08,1020.371670
2,서초3동,75.0,3.0,서초구,4.756993e+07,169.0,63.0,2378.1,4.224326e+08,267.796715
3,신사동,18.0,1.0,관악구,1.691995e+07,30.0,16.0,1631.4,3.591416e+08,76.858830
4,신사동,16.0,0.0,강남구,2.970676e+07,129.0,39.0,5556.9,6.190779e+08,266.650564
...,...,...,...,...,...,...,...,...,...,...
419,창신3동,6.0,1.0,종로구,3.761154e+06,7.0,1.0,953.9,2.341951e+08,15.319553
420,창신2동,2.0,0.0,종로구,8.197930e+06,9.0,1.0,953.9,2.341951e+08,33.390983
421,무악동,3.0,0.0,종로구,5.126397e+06,1.0,0.0,953.9,2.341951e+08,20.880325
422,둔촌1동,9.0,1.0,강동구,3.448409e+06,0.0,0.0,2766.3,3.740361e+08,25.503773
423,상일동,63.0,0.0,강동구,2.896202e+07,32.0,15.0,2766.3,3.740361e+08,214.197560

In [ ]:
# 군집분석에서 불필요한 열 제거
data.drop(["자치구별 배출량",	"자치구별 생활인구"], axis=1, inplace=True)
data

,행정동,num_of_bus,num_of_subway,자치구,행정동별 생활인구,num_of_cafe,num_of_conv,행정동별 배출량
0,역삼1동,44.0,7.0,강남구,8.229709e+07,243.0,115.0,738.706224
1,가산동,105.0,3.0,금천구,4.646247e+07,214.0,87.0,1020.371670
2,서초3동,75.0,3.0,서초구,4.756993e+07,169.0,63.0,267.796715
3,신사동,18.0,1.0,관악구,1.691995e+07,30.0,16.0,76.858830
4,신사동,16.0,0.0,강남구,2.970676e+07,129.0,39.0,266.650564
...,...,...,...,...,...,...,...,...
419,창신3동,6.0,1.0,종로구,3.761154e+06,7.0,1.0,15.319553
420,창신2동,2.0,0.0,종로구,8.197930e+06,9.0,1.0,33.390983
421,무악동,3.0,0.0,종로구,5.126397e+06,1.0,0.0,20.880325
422,둔촌1동,9.0,1.0,강동구,3.448409e+06,0.0,0.0,25.503773
423,상일동,63.0,0.0,강동구,2.896202e+07,32.0,15.0,214.197560

In [ ]:
# 데이터셋 저장
data.to_csv(path+"data.csv", index=False)