# 군집분석을 위해 데이터셋 가공

In [1]:
import pandas as pd

In [2]:
path = "/content/drive/MyDrive/응통 분석 공모전/데이터/"

In [3]:
data = pd.read_csv(path + "data.csv")
data

,행정동,num_of_bus,num_of_subway,자치구,행정동별 생활인구,num_of_cafe,num_of_conv,DONG_recycle,DONG_garbage
0,역삼1동,44.0,7.0,강남구,8.229709e+07,243.0,115.0,677.449799,738.706224
1,가산동,105.0,3.0,금천구,4.646247e+07,214.0,87.0,977.564889,1020.371670
2,서초3동,75.0,3.0,서초구,4.756993e+07,169.0,63.0,241.783914,267.796715
3,신사동,18.0,1.0,관악구,1.691995e+07,30.0,16.0,70.960384,76.858830
4,신사동,16.0,0.0,강남구,2.970676e+07,129.0,39.0,244.538851,266.650564
...,...,...,...,...,...,...,...,...,...
419,창신3동,6.0,1.0,종로구,3.761154e+06,7.0,1.0,13.222128,15.319553
420,창신2동,2.0,0.0,종로구,8.197930e+06,9.0,1.0,28.819369,33.390983
421,무악동,3.0,0.0,종로구,5.126397e+06,1.0,0.0,18.021566,20.880325
422,둔촌1동,9.0,1.0,강동구,3.448409e+06,0.0,0.0,24.060007,25.503773
423,상일동,63.0,0.0,강동구,2.896202e+07,32.0,15.0,202.071855,214.197560

In [4]:
data_cluster = data.drop(['자치구','행정동', 'DONG_recycle'], axis=1)
data_cluster

,num_of_bus,num_of_subway,행정동별 생활인구,num_of_cafe,num_of_conv,DONG_garbage
0,44.0,7.0,8.229709e+07,243.0,115.0,738.706224
1,105.0,3.0,4.646247e+07,214.0,87.0,1020.371670
2,75.0,3.0,4.756993e+07,169.0,63.0,267.796715
3,18.0,1.0,1.691995e+07,30.0,16.0,76.858830
4,16.0,0.0,2.970676e+07,129.0,39.0,266.650564
...,...,...,...,...,...,...
419,6.0,1.0,3.761154e+06,7.0,1.0,15.319553
420,2.0,0.0,8.197930e+06,9.0,1.0,33.390983
421,3.0,0.0,5.126397e+06,1.0,0.0,20.880325
422,9.0,1.0,3.448409e+06,0.0,0.0,25.503773
423,63.0,0.0,2.896202e+07,32.0,15.0,214.197560

In [5]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
scaler.fit(data_cluster)
data_cluster_transformed=scaler.transform(data_cluster)

In [6]:
X = data_cluster_transformed
X

array([[ 1.18171269,  5.0600356 ,  6.42060059,  5.73062515,  9.11751478,
         6.1245773 ],
       [ 5.23903606,  1.72080588,  2.78893269,  4.92910811,  6.59853371,
         8.92740595],
       [ 3.24363112,  1.72080588,  2.90116854,  3.68537479,  4.43940708,
         1.43859724],
       ...,
       [-1.54534073, -0.78361641, -1.40028113, -0.95789629, -1.22830032,
        -1.01844653],
       [-1.14625974,  0.05119102, -1.57033725, -0.98553481, -1.22830032,
        -0.972439  ],
       [ 2.44546915, -0.78361641,  1.0153453 , -0.10110222,  0.12115382,
         0.90523666]])

# K-means

* n_clusters : 사전으로 정의하는 군집 갯수로서 K-means가 몇 개의 군집으로 군집화할 것인지 즉, 'K'값을 정의해주는 것이다.
* init : 초기에 군집 중심점의 좌표를 설정하는 방식으로 보통 'k-means++' 방식으로 설정.
* max_iter : 반복횟수를 설정하는 것이다. 설정한 횟수에 도달하기 이전에 군집화가 완료되면 반복횟수를 채우지 않더라도 중간에 종료된다.

In [ ]:
from sklearn.cluster import KMeans

# 1.K-means 할당
kmeans = KMeans(n_clusters=3, init='k-means++', max_iter=1000)

labels = kmeans.fit_predict(X)

data['kmeans_cluster'] = labels

data.head()

,행정동,num_of_bus,num_of_subway,자치구,행정동별 생활인구,num_of_cafe,num_of_conv,DONG_recycle,DONG_garbage,kmeans_cluster,kmeans_silhouette_coeff,fuzzy_cluster,FCM_silhouette_coeff,gmm_cluster,GMM_silhouette_coeff,SOM_cluster,SOM_silhouette_coeff
0,역삼1동,44.0,7.0,강남구,8.229709e+07,243.0,115.0,677.449799,738.706224,1,0.307467,3,0.170535,2,0.299082,0,0.182468
1,가산동,105.0,3.0,금천구,4.646247e+07,214.0,87.0,977.564889,1020.371670,1,0.213333,3,0.156885,2,0.266055,0,0.166194
2,서초3동,75.0,3.0,서초구,4.756993e+07,169.0,63.0,241.783914,267.796715,1,-0.131560,3,0.186927,3,0.202728,0,0.243358
3,신사동,18.0,1.0,관악구,1.691995e+07,30.0,16.0,70.960384,76.858830,0,-0.046991,2,0.085853,1,0.267602,4,0.269782
4,신사동,16.0,0.0,강남구,2.970676e+07,129.0,39.0,244.538851,266.650564,2,0.208059,3,-0.170434,3,-0.219000,0,-0.084536

In [ ]:
# 전체 실루엣 계수 계산
from sklearn.metrics import silhouette_score, silhouette_samples
 
silhouette_score(X, labels, metric='euclidean')

0.41455422931614067

In [ ]:
# 군집별 실루엣 계수 계산
score_samples = silhouette_samples(X, data['kmeans_cluster'])
data['kmeans_silhouette_coeff'] = score_samples

data.groupby('kmeans_cluster')['kmeans_silhouette_coeff'].mean()

kmeans_cluster
0    0.488026
1    0.239644
2    0.162073
Name: kmeans_silhouette_coeff, dtype: float64

In [ ]:
# 군집별 관측치 개수 확인
data["kmeans_cluster"].value_counts()

0    327
2     91
1      6
Name: kmeans_cluster, dtype: int64

# fuzzy c-means clustering

In [ ]:
!pip install fuzzy-c-means

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fuzzy-c-means
  Downloading fuzzy_c_means-1.6.3-py3-none-any.whl (9.1 kB)
Requirement already satisfied: pydantic<2.0.0,>=1.8.2 in /usr/local/lib/python3.7/dist-packages (from fuzzy-c-means) (1.10.2)
Requirement already satisfied: tabulate<0.9.0,>=0.8.9 in /usr/local/lib/python3.7/dist-packages (from fuzzy-c-means) (0.8.10)
Requirement already satisfied: numpy<2.0.0,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from fuzzy-c-means) (1.21.6)
Collecting typer<0.4.0,>=0.3.2
  Downloading typer-0.3.2-py3-none-any.whl (21 kB)
Requirement already satisfied: typing-extensions>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from pydantic<2.0.0,>=1.8.2->fuzzy-c-means) (4.1.1)
Requirement already satisfied: click<7.2.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.4.0,>=0.3.2->fuzzy-c-means) (7.1.2)
Installing collected packages: typer, fuzzy-c-means
  Attempting uninstall: typer
    Found existing installation: typer 0.7.0
    Uninstalling typer-0.7.0:
      Successfully uninstalled typer-0.7.0
Successfully installed fuzzy-c-means-1.6.3 typer-0.3.2

In [ ]:
import numpy as np
from fcmeans import FCM

my_model = FCM(n_clusters=6)
my_model.fit(X)

labels = my_model.predict(X)
data['fuzzy_cluster'] = labels

data.head()

,행정동,num_of_bus,num_of_subway,자치구,행정동별 생활인구,num_of_cafe,num_of_conv,DONG_recycle,DONG_garbage,kmeans_cluster,kmeans_silhouette_coeff,fuzzy_cluster,FCM_silhouette_coeff
0,역삼1동,44.0,7.0,강남구,8.229709e+07,243.0,115.0,677.449799,738.706224,2,0.307467,3,0.168860
1,가산동,105.0,3.0,금천구,4.646247e+07,214.0,87.0,977.564889,1020.371670,2,0.213333,3,0.160951
2,서초3동,75.0,3.0,서초구,4.756993e+07,169.0,63.0,241.783914,267.796715,2,-0.131560,3,0.195184
3,신사동,18.0,1.0,관악구,1.691995e+07,30.0,16.0,70.960384,76.858830,5,-0.046991,2,0.083548
4,신사동,16.0,0.0,강남구,2.970676e+07,129.0,39.0,244.538851,266.650564,4,0.208059,3,-0.005022

In [ ]:
# 전체 실루엣 계수 계산
from sklearn.metrics import silhouette_score,silhouette_samples
 
silhouette_score(X, labels, metric='euclidean')

0.12513262664996289

In [ ]:
# 군집별 실루엣 계수 계산
score_samples = silhouette_samples(X, data['fuzzy_cluster'])
data['FCM_silhouette_coeff'] = score_samples

data.groupby('fuzzy_cluster')['FCM_silhouette_coeff'].mean()

fuzzy_cluster
0    0.274591
1    0.043164
2    0.070389
3   -0.107544
4   -0.044117
5    0.186147
Name: FCM_silhouette_coeff, dtype: float64

In [ ]:
# 군집별 관측치 개수 확인
data["fuzzy_cluster"].value_counts()

0    122
5    100
2     64
4     59
1     50
3     29
Name: fuzzy_cluster, dtype: int64

# GMM
* GMM은 Parametric 모델로서 EM(Expectation Maximization) 알고리즘을 이용한 대표적인 군집화 모델
* 개별 데이터가 가우시안 분포에 속한다고 가정을 한 상태에서 특정 정규분포에 속할 확률을 추정하는 것이다. 
* n_components: 군집화 개수

In [ ]:
from sklearn.mixture import GaussianMixture

# n_components로 미리 군집 개수 설정
gmm = GaussianMixture(n_components=6)
labels = gmm.fit_predict(X)

# GMM 후 클러스터링 레이블을 따로 설정
data['gmm_cluster'] = labels

data.head()

,행정동,num_of_bus,num_of_subway,자치구,행정동별 생활인구,num_of_cafe,num_of_conv,DONG_recycle,DONG_garbage,kmeans_cluster,kmeans_silhouette_coeff,fuzzy_cluster,FCM_silhouette_coeff,gmm_cluster,GMM_silhouette_coeff
0,역삼1동,44.0,7.0,강남구,8.229709e+07,243.0,115.0,677.449799,738.706224,2,0.307467,3,0.170535,2,0.327842
1,가산동,105.0,3.0,금천구,4.646247e+07,214.0,87.0,977.564889,1020.371670,2,0.213333,3,0.156885,2,0.232048
2,서초3동,75.0,3.0,서초구,4.756993e+07,169.0,63.0,241.783914,267.796715,2,-0.131560,3,0.186927,3,-0.078713
3,신사동,18.0,1.0,관악구,1.691995e+07,30.0,16.0,70.960384,76.858830,5,-0.046991,2,0.085853,1,0.286052
4,신사동,16.0,0.0,강남구,2.970676e+07,129.0,39.0,244.538851,266.650564,4,0.208059,3,-0.170434,3,0.204457

In [ ]:
# 전체 실루엣 계수 계산
from sklearn.metrics import silhouette_score, silhouette_samples
 
silhouette_score(X, labels, metric='euclidean')

0.1457314160733002

In [ ]:
# 군집별 실루엣 계수 계산
score_samples = silhouette_samples(X, data['gmm_cluster'])
data['GMM_silhouette_coeff'] = score_samples

data.groupby('gmm_cluster')['GMM_silhouette_coeff'].mean()

gmm_cluster
0    0.021284
1    0.315526
2    0.282569
3    0.011195
4    0.022656
5    0.110380
Name: GMM_silhouette_coeff, dtype: float64

In [ ]:
# 군집별 관측치 개수 확인
data["gmm_cluster"].value_counts()

1    166
0    108
4     98
5     38
3     12
2      2
Name: gmm_cluster, dtype: int64

# SOM
* 저차원의 공간에 데이터를 차원 축소하여 군집화하는 알고리즘

In [ ]:
!pip install -U som-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting som-learn
  Downloading som_learn-0.1.1-py3-none-any.whl (7.2 kB)
Requirement already satisfied: matplotlib>=3.0 in /usr/local/lib/python3.7/dist-packages (from som-learn) (3.2.2)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from som-learn) (1.7.3)
Requirement already satisfied: scikit-learn>=0.21 in /usr/local/lib/python3.7/dist-packages (from som-learn) (1.0.2)
Requirement already satisfied: numpy>=1.1 in /usr/local/lib/python3.7/dist-packages (from som-learn) (1.21.6)
Collecting somoclu==1.7.5
  Downloading somoclu-1.7.5.tar.gz (6.1 MB)
     |████████████████████████████████| 6.1 MB 24.3 MB/s
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->som-learn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->som-learn) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->som-learn) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->som-learn) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0->som-learn) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0->som-learn) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21->som-learn) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21->som-learn) (1.2.0)
Building wheels for collected packages: somoclu
  Building wheel for somoclu (setup.py) ... done
  Created wheel for somoclu: filename=somoclu-1.7.5-cp37-cp37m-linux_x86_64.whl size=460685 sha256=591a6c58988ae7467f1e2e58b14c37c44c7f1953d8331a4c89cebaa5feddb6ac
  Stored in directory: /root/.cache/pip/wheels/f8/cc/f7/44c18d2890a8c9dc8d8c8a46d7292bdff01fae9a5f21cc7e46
Successfully built somoclu
Installing collected packages: somoclu, som-learn
Successfully installed som-learn-0.1.1 somoclu-1.7.5

In [ ]:
from somlearn import SOM

SOM = SOM(n_columns=2, n_rows=3, gridtype='hexagonal')
labels = SOM.fit_predict(X)
data["SOM_cluster"] = labels

data

,행정동,num_of_bus,num_of_subway,자치구,행정동별 생활인구,num_of_cafe,num_of_conv,DONG_recycle,DONG_garbage,kmeans_cluster,kmeans_silhouette_coeff,fuzzy_cluster,FCM_silhouette_coeff,gmm_cluster,GMM_silhouette_coeff,SOM_cluster,SOM_silhouette_coeff
0,역삼1동,44.0,7.0,강남구,8.229709e+07,243.0,115.0,677.449799,738.706224,2,0.307467,3,0.170535,2,0.299082,0,0.160258
1,가산동,105.0,3.0,금천구,4.646247e+07,214.0,87.0,977.564889,1020.371670,2,0.213333,3,0.156885,2,0.266055,0,0.138846
2,서초3동,75.0,3.0,서초구,4.756993e+07,169.0,63.0,241.783914,267.796715,2,-0.131560,3,0.186927,3,0.202728,0,0.179759
3,신사동,18.0,1.0,관악구,1.691995e+07,30.0,16.0,70.960384,76.858830,5,-0.046991,2,0.085853,1,0.267602,4,0.248655
4,신사동,16.0,0.0,강남구,2.970676e+07,129.0,39.0,244.538851,266.650564,4,0.208059,3,-0.170434,3,-0.219000,0,0.217165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,창신3동,6.0,1.0,종로구,3.761154e+06,7.0,1.0,13.222128,15.319553,1,0.420764,0,0.413858,1,0.369286,2,0.137678
420,창신2동,2.0,0.0,종로구,8.197930e+06,9.0,1.0,28.819369,33.390983,1,0.424686,0,0.445985,1,0.365332,2,0.018412
421,무악동,3.0,0.0,종로구,5.126397e+06,1.0,0.0,18.021566,20.880325,1,0.422804,0,0.425321,1,0.358086,2,0.013650
422,둔촌1동,9.0,1.0,강동구,3.448409e+06,0.0,0.0,24.060007,25.503773,1,0.424409,0,0.400028,1,0.356731,2,0.133228
423,상일동,63.0,0.0,강동구,2.896202e+07,32.0,15.0,202.071855,214.197560,3,0.317558,1,0.035223,4,0.125366,1,0.200535

In [ ]:
# 전체 실루엣 계수 계산
from sklearn.metrics import silhouette_score, silhouette_samples
 
silhouette_score(X, labels, metric='euclidean')

0.11457772103176944

In [ ]:
# 군집별 실루엣 계수 계산
score_samples = silhouette_samples(X, data['SOM_cluster'])
data['SOM_silhouette_coeff'] = score_samples

data.groupby('SOM_cluster')['SOM_silhouette_coeff'].mean()

SOM_cluster
0   -0.075265
1    0.012329
2    0.219823
3    0.074693
4    0.140320
5    0.195097
Name: SOM_silhouette_coeff, dtype: float64

In [ ]:
# 군집별 관측치 개수 확인
data["SOM_cluster"].value_counts()

2    102
5     77
1     71
4     68
3     58
0     48
Name: SOM_cluster, dtype: int64